/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
}

html {
  font-size: 62.5%;
}

a,
li {
  color: #2d353d;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  color: #d95f76;
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 2.4rem;
  color: #166b8c;
}

h6 {
  font-size: 1.8rem;
}

p {
  color: #2d353d;
  font-size: 1.2rem;
}

/* NAV SECTION */

header {
  min-height: 12vh;
  z-index: 100;
  position: static;
}

#logo {
  width: 300px;
  padding: 10px;
}

nav,
#hamburger-menu {
  display: none;
}

nav li,
nav a {
  display: block;
}

nav a {
  text-align: center;
  padding: 2px 0;
}

nav a:hover {
  border: solid #2d353d 2px;
  color: #166b8c;
}

.hamburger-label {
  float: right;
  color: #2d353d;
  padding: 10px;
  font-size: 1.5rem;
  display: block;
  margin-top: 1.2rem;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* MAIN PAGE */

.hero {
  min-height: 88vh;
  background: url(/images/community\ science\ museum.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-container {
  width: 100%;
  position: relative;
}

.container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  margin: 4rem 0 0 1rem;
  width: 350px;
  height: auto;
  padding: 20px;
  border: solid 4px white;
}

.container h2 {
  color: white;
  margin-top: 1rem;
  font-weight: 500;
}

.container p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.explore-btn {
  background: none;
  border: solid 2px white;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  padding: 6px 12px;
  transition: 0.8s;
}

.explore-btn:hover {
  background: white;
  color: #d95f76;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 170px;
  height: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #d95f76;
}

.info h3 {
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.info p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem auto;
}

/* INFO CARDS */

.info-section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card1 {
  margin-top: 4rem;
  width: 90%;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.5s ease;
  margin: 3rem;
}

.img-container {
  width: 100%;
  height: 350px;
}

.img-container img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 90%;
}

.text-container {
  padding: 20px;
  height: auto;
}

.text-container p {
  margin: 2rem 0;
}

/* EXHIBITONS & NEWS */

.exhibition {
  min-height: 100vh;
}

.title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

.title hr {
  width: 100%;
  color: #166b8c;
  margin: 0 0.5rem;
}

.ex-container {
  width: 90%;
  height: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card2 {
  width: 90%;
  height: auto;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.5s ease;
  margin: 3rem 3rem;
}

.img-container2 {
  height: 350px;
}

.img-container2 img,
.img-container3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text-container2,
.text-container3 {
  padding: 20px;
  height: auto;
  text-align: center;
}

.text-container2 p,
.text-container3 p {
  margin: 3rem 0rem;
}

.cosmo {
  color: #145ede;
}

.card-btn {
  padding: 6px 30px;
  border: none;
  color: white;
  transition: 0.8s;
  cursor: pointer;
}

.card-btn1 {
  background: #145ede;
}

.card-btn1:hover {
  color: #145ede;
  background: white;
  border: solid 1px #145ede;
}

.evo {
  color: #bf8563;
}

.card-btn2 {
  background: #bf8563;
}

.card-btn2:hover {
  color: #bf8563;
  background: white;
  border: solid 1px #bf8563;
}

.ex-container2 {
  width: 90%;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card3 {
  width: 60%;
  height: auto;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.5s ease;
  margin: 3rem 1rem;
}

.img-container3 {
  height: 220px;
}

.bio {
  color: #166b8c;
}

.card-btn3 {
  background: #166b8c;
}

.card-btn3:hover {
  color: #166b8c;
  background: white;
  border: solid 1px #166b8c;
}

.robot {
  color: #d95f76;
}

.card-btn4 {
  background: #d95f76;
}

.card-btn4:hover {
  color: #d95f76;
  background: white;
  border: solid 1px #d95f76;
}

.eco {
  color: #46bf5d;
}

.card-btn5 {
  background: #46bf5d;
}

.card-btn5:hover {
  color: #46bf5d;
  background: white;
  border: solid 1px #46bf5d;
}

/* FOOTER */

footer {
  min-height: 20vh;
  background: #d95f76;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.container-footer {
  width: 90%;
  height: 30vh;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-footer {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 1.3rem;
}

.contact {
  font-size: 0.8rem;
  margin: 2rem 0;
  color: #2d353d;
  text-decoration: underline;
}

.copy {
  font-size: 0.5rem;
}

.footer1 {
  height: 80%;
}

.footer2 {
  height: 80%;
}

.footer2 h5 {
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.social-container {
  height: 80%;
  padding-left: 20px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: white;
  font-size: 2rem;
  padding: 2px;
  transition: 0.5s;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: #166b8c;
  cursor: pointer;
}

.social-container h6 {
  font-size: 1.2rem;
  color: white;
}

/* MEDIA QUEIRES */

@media (min-width: 768px) {
  /* NAV */

  #logo {
    width: 400px;
    display: flex;
    margin: auto;
  }
  nav {
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .hamburger-label {
    display: none;
  }
  nav a:hover {
    border: none;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  nav a {
    padding: 2px 40px;
    display: inline-block;
  }

  /* HERO SECTION */

  .container {
    width: 450px;
  }
  .info {
    width: 200px;
  }

  /* INFO CARDS */
  .card-container {
    flex-wrap: nowrap;
  }

  /* EXHIBITONS */
  .ex-container,
  .ex-container2 {
    flex-wrap: nowrap;
  }
}

/* INFO CARDS */

@media (min-width: 992px) {
  /* GLOBAL STYLES */

  html {
    font-size: 80%;
  }

  /* HERO SECTION */

  .container {
    width: 650px;
    height: auto;
  }

  .container p {
    margin: 2rem 0;
  }

  .container h2 {
    margin: 2rem 0;
  }
  .explore-btn {
    padding: 16px 36px;
  }
  .info {
    width: 250px;
    height: auto;
  }
  .info h3 {
    margin-top: 1.5rem;
  }
  .info p {
    margin-top: 1.2rem;
  }

  /* EXHIBTION */
  .card2:hover {
    transform: scale(1.1);
  }
  .card3:hover {
    transform: scale(1.1);
  }
  .card3 {
    width: 31%;
  }

  .card-btn {
    padding: 10px 40px;
  }
}
